@media (min-width: 1024px) {
    #menubtn {
        display: none;
    }
    #menubtn2 {
        display: none;
    }
}
@media (max-width: 1399px) {
    .banner_tt {
        font-size: 42px;
        line-height: 50px;
    }
    .section_tt {
        font-size: 42px;
        line-height: 64px;
    }
    .section_tt_eng {
        font-size: 42px;
        line-height: 64px;
    }
    .section_subtt{
        font-size: 20px;
        line-height: 34px;
    }
    .notice_tt {
        font-size: 18px;
        line-height: 29px;
    }
    .content_tt {
        font-size: 26px;
        line-height: 54px;
    }
    .content {
        font-size: var(--base_fs);
        line-height: var(--base_lh);
        font-weight: 400;
    }
    .number {
        font-weight: 700;
        font-size: 46px;
        line-height: calc(var(--base_lh) * 2);
    }
    .contentwrap .content_left {
        margin-right: 7%;
    }
    .eng_tt_wrap .eng_tt_sec .notice li {
        padding: 3%;
        width: 100%;
    }
    .eng_tt_wrap .eng_tt_sec .notice li:nth-child(3) {
        margin-right: 2%;
        margin-bottom: 30px;
    }
    .eng_tt_wrap .eng_tt_sec .notice li:last-child {
        margin-bottom: var(--base_lh);
    }
    .eng_tt_wrap .eng_tt_sec .notice {
        justify-content: center;
    }
    .eng_tt_wrap .eng_tt_sec .notice a {
        width: 100%;
    }
}
@media (max-width: 1023px) {
    .navi_wrap {
        display: none;
    }
    #menubtn {
        display: block;
    }
    #menubtn2 {
        display: block;
    }
    .divide {
        padding-top: calc(var(--base_lh) * 3);
    }
    .flex {
        flex-direction: column;
        align-items: center;
    }
    .flex-space-b {
        flex-direction: column;
    }
    .contentwrap .content_left {
        margin-right: 0;
        text-align: center;
    }
    .mb-145 {
        margin-bottom: calc(var(--base_lh) * 2);
    }
    .contentwrap .content_left img {
        margin: 0 auto;
        width: 50%;
        margin-bottom: calc(var(--base_lh) * 2);
    }
    .contentwrap .content_right .card {
        margin-top: calc(var(--base_lh) * 2);
        width: 30%;
        min-width: 280px;
    }
    .contentwrap .content_right .card:first-child, .contentwrap .content_right .card:nth-child(2n-1),.contentwrap .content_right .card:nth-child(2), .contentwrap .content_right .card:last-child {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .activity {
        padding: 0;
        text-align: center;
        height: 100%;
        margin-top: 0;
    }
    .activity img {
        padding-right: 0;
        width: 50%;
    }
    .eng_tt_wrap .eng_tt_sec {
        width: 100%;
        margin-top: calc(var(--base_lh) * 3);
    }
    .eng_tt_wrap .eng_tt_sec .links {
        width: 100%;
    }
    .eng_tt_wrap .eng_tt_sec .links a {
        flex-direction: row;
    }
    .eng_tt_wrap .eng_tt_sec .notice a {
        width: 100%;
    }
    #daumRoughmapContainer1683344354860 {
        width: 100%;
    }
    .eng_tt_wrap .info {
        position: relative;
        right: 0;
        bottom: 0;
    }
    .contentwrap aside {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-right: 0;
    }
    .contentwrap aside p {
        font-size: 30px;
    }
    .contentwrap .activities .act_wrap .act .act_tt {
        margin-top: var(--base_lh);
    }
    .box_wrap {
        text-align: center;
    }
    .box_wrap .box {
        min-width: 44%;
    }
    footer .contentwrap {
        flex-direction: column;
    }
    footer .contentwrap .ft_left {
        width: 100%;
    }
    footer .contentwrap .ft_center {
        width: 100%;
        margin-bottom: var(--base_lh);
    }
    footer .contentwrap .ft_right {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .banner_tt {
        font-size: 32px;
        line-height: 42px;
    }
    .section_tt {
        font-size: 32px;
        line-height: 52px;
    }
    .section_tt_eng {
        font-size: 32px;
        line-height: 52px;
    }
    .section_subtt{
        font-size: 14px;
        line-height: 26px;
    }
    .content_tt {
        font-size: 20px;
        line-height: 42px;
    }
    .content {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
    }
    .swiper-button-next:after, .swiper-button-prev:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        display: none;
    }
    .slick-slide img {
        width: 50%;
    }
    .section_subtt span::before {
        top: 4px;
        height: 14px;
    }
    .contentwrap .support_btn {
        flex-direction: column;
    }
    .contentwrap .support_btn li:first-child a {
        margin-right: 0;
        margin-bottom: var(--base_lh);
    }
    .box_wrap .box {
        min-width: 60%;
    }
    footer .contentwrap .ft_left {
        padding-right: 0;
    }
    footer .contentwrap .ft_left img {
        margin: 0 auto;
    }
    footer .contentwrap .ft_right a {
        margin-right: 3px;
    }
    footer .contentwrap .ft_right a:last-child {
        margin-right: 0;
    }
    footer .contentwrap .ft_left .copyright {
        text-align: center;
    }
}